$primary-color: #333;
$link-color: #fff;
$link-hover-color: #555;
$container-max-width: 1200px;
$dark-color: #1f1f1f;
$light-color: rgb(231, 224, 219);

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: $light-color;
  color: black;
  padding: 10px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.navbar__logo {
  color: black;
}
// .header {
//   font-family: Arial, Helvetica, sans-serif;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: $light-color;
//   color: $dark-color;
//   &--dark-mode {
//     background-color: $dark-color;
//   }
// }

.landing__page {
  background-color: grey;
}
